.features-page {
    padding: 120px 0px;
}


.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    max-width: 264px;
}
.fuatures-icon {
    display: flex;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;

}

.text-features {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}