.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;

}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-btn {
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}