/* Reset css */
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}

a {
    text-decoration: none;}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;

}
/*common*/
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* header */
.header-page {
    border-bottom: 1px solid;
    border-color: #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.address-list{
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
} 
.header-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42; 
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.current {
    position: relative;
}
.header-nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px
}
.header-address {
    font-style: normal;
    margin-left: auto ;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address-link {
display: block;
padding: 24px 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
color:#404bbf;
}

/* hero-page */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office\ .jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
    max-width: 496px;
    margin: 0 auto 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
}

.hero-btn {
padding: 16px 32px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #fff;
cursor: pointer;
border-radius: 4px;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .hero-btn:hover,
 .hero-btn:focus{
    background-color: #404bbf;
 }
 .hero-svg{
     width: 320px;
     max-width: 100%;
     display: block;
     margin: 24px auto;
 }
 /* benefits */
 .benefits-page{
    padding: 120px 0px;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
    display: flex;
    gap: 24px;
 }
 .benefits-list-item {
    max-width: 264px;
 }
 .benefits-icon {
    width: 264px;
    height: 112px;
    background-color:#f4f4fd;
    border-radius: 4px;
    border: 1px solid#8e8f99;
    display: flex;
align-items: center;
justify-content: center;
 }

 .benefits-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding-bottom: 8px;
 
 }

 .text-benefits {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 }

 /* Our team */
 .team-pages {
    background-color:#f4f4fd;
    padding: 120px 0;
   
 }
 .team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;



 }
 .team-list {
    display: flex;
    gap: 24px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 .team-info {
    padding: 32px 16px;
 }
 .team-name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
 }
.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;


}

.social-media {
    display: flex;
    gap: 24px;
}
    

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
  border-radius: 50%;
transition: background-color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
    fill:  #f4f4fd;
}
.team-item {
    background-color: #fff;
    width: 264px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
 /* Portfolio*/
 .portfolio-pages {
    padding: 120px 0;
    
 }
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.images-wrapper {
    position: relative;
    overflow: hidden;
}
.images-wrapper:hover .overlay{
    transform: translateX(0);
}
.overlay {
    position: absolute;
    background-color: #4d5ae5;
   top: 0;
  left: 0;
  width: 100%;
  height: 100%;
transform: translateX(-100%);
  
}
.text-overlay {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #f4f4fd;
padding: 40px;
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*footer*/
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: center;
    gap: 120px;
    
    
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.footer-logo .footer-logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.social-media-footer {
   gap: 16px;
   display: flex;
}

.social-media-text {
    font-weight: 500;
font-size: 16px;
color:white;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
